&.active .body {
  display: block;

  @media all and(min-width: $screen-sm-min) {
    .details {
      @include column-flex;
    }
  }
}

.body {
  display: none;
  padding: $tile-body-padding;

  .details {
    dt, dd {
      padding: $details-dl-padding;
    }

    dt {
      background: $details-dt-bg;
      color: $details-dt-color;
    }

    dd {
      background: $details-dd-bg;
    }
  }

  @media all and(min-width: $screen-sm-min) {

    .details {
      @include justify-content(space-between);
      margin: 1em;

      dl {
        @include flex-basis(300px);
      }
    }
  }
}
