@import "tile";

.tiles {

  .tile-status {
    span {
      font-size: 1em;
      text-transform: uppercase;
    }

    .toggle:before {
      content: "\f0d7";
    }

    &:hover {
      cursor: pointer;
      color: lighten($text-color, 15%);
    }
  }

  .tile {
    display: none;
  }

  &.active {
    .tile-status .toggle:before {
      content: "\f0d8";
    }

    .tile {
      display: block;
    }
  }

}

