.tile {

  @mixin column-flex {
    @include display(flex);
    @include flex-flow(row wrap);
  }

  $tile-bg: #f6f6f6;

  $tile-header-bg: $sidebar-bg;
  $tile-header-color: $porcelain;
  $tile-header-padding: 1em;
  $tile-header-padding-sm: 1em 2em;
  $tile-specification-padding: .5em 0 0 0;
  $authored-by-user-color: $confetti;
  $tile-actions-btn-padding: .7em 1.5em;
  $tile-actions-margin: 1em;
  $tile-actions-margin-sm: 0;

  $tile-body-padding: 1em;
  $details-dl-padding: .5em;
  $details-dt-bg: darken($porcelain, 5%);
  $details-dt-color: inherit;
  $details-dd-bg: inherit;

  $tile-more-actions-bg: darken($porcelain, 10%);
  $tile-more-actions-padding: 1.5em 1em;

  @import "tile-header";
  @import "tile-body";
  @import "more-actions";

  font-family: Roboto;
  background: $tile-bg;
  margin: 2em 0;

}
