header {
  background: $tile-header-bg;
  color: $tile-header-color;
  padding: $tile-header-padding;

  .specification {
    font-size: 1.25em;
  }

  .author {
    text-align: right;
    color: darken($tile-header-color, 25%);
  }

  @media all and(min-width: $screen-sm-min) {
    @include two-column-flex;
  }
}
