/* Needed by font-awesome setup */
$fa-font-path: "/assets/fonts";

/* Colors */
$etsi-blue: #007dc3;
$etsi-green: rgba(123, 178, 56, 1);
$lynch: #6c7a89;
$gray: #848d93;
$porcelain: #ecf0f1;
$confetti: #e9d460;

$gossip: #87d37c;
$eucalyptus: #26a65b;
$egg-colored: #ffa631;
$sunset-orange: #f64747;

$madison: #2c3e50;

/* Bootstrap overrides */
$text-color: $lynch;

$brand-primary: $etsi-blue;
$brand-primary-light: lighten($brand-primary, 20%);
$brand-info: $etsi-green;
$brand-success: $gossip;
$brand-warning: $egg-colored;
$brand-danger: $sunset-orange;

$state-info-text: darken($etsi-blue, 10%);
$state-info-bg: lighten($gray, 15%);

$state-danger-text: $brand-danger;
$state-danger-bg: lighten($brand-danger, 30%);

/* Layout and UI colors */
$navbar-height: 90px;
$navbar-padding: 10px;
$navbar-padding-sm: 2em;
$navbar-padding-lg: 5em;
$navbar-menu-margin: 2em;
$navbar-bg: $gray;
$navbar-color: $porcelain;
$navbar-brand-color: $brand-primary-light;

$footer-height: $navbar-height;
$footer-bg: $navbar-bg;
$footer-color: $navbar-color;

$sidebar-width: 280px;
$sidebar-padding-top-sm: 50px;
$sidebar-padding-v: 2em;

$sidebar-bg: $madison;
$sidebar-text-color: $navbar-color;

$content-padding-top: 1em;
$content-padding-bottom: 2em;
$content-gutter-width: 35px;

