@import "contributions/contributions";

.change_requests.contributions {

  .main.container {
    width: 100%;
    padding: 0;
    margin: 0;
    @include display(flex);
  }

  .document {
    @include flex(2);

    iframe {
      @include size(100%);
      border: none;
    }
  }

  .contributions {
    @include flex(1);
  }
}
