@import "index/change-requests";

.change_requests.index {
  $header-margin: 4em 0;

  .workspace > header {
    margin: $header-margin;

    h1 {
      font-size: 2em;
      margin: 0;
    }

    .input-group {
      margin: 1em;
    }
  }

  @media all and(min-width: $screen-sm-min) {
    .workspace > header {
      h1 {
        font-size: 3em;
      }

      .input-group {
        margin: .5em 0 0 0;
      }
    }
  }
}

