nav.navbar-static-top {
  $menu-item-font-size: 16px;
  $menu-item-height: 30px;

  margin-bottom: 0;
  background-color: $navbar-bg;
  border: 0;
  min-height: $navbar-height;
  padding: 0 $navbar-padding;

  @media all and (min-width: $screen-sm-min) {
    padding: 0 $navbar-padding-sm;
  }
  @media all and (min-width: $screen-lg-min) {
    padding: 0 $navbar-padding-lg;
  }

  .sidebar-toggle {
    padding: 1px 16px;
    font-size: 21px;
    color: white;
  }

  .navbar-header {
    $brand-padding: 25px 15px;

    position: relative;

    .navbar-brand {
      //background: url('/assets/images/logo.png') no-repeat;
      padding: $brand-padding;

      .brand {
        margin: 0;

        font-family: PT Sans;
        font-style: italic;
        color: $navbar-color;

        .primary {
          display: none;
        }

        .secondary {
          font-family: Oxygen;
          font-style: normal;
          font-size: .5em;
        }
      }

      @media all and(min-width: $screen-md-min) {
        .brand {
          margin: 0 0 0 70px;

          .primary {
            display: inline;
            color: $navbar-brand-color;
          }

          .secondary {
            padding-left: 10px;
            font-size: 70%;
          }
        }
      }
    }
  }

  .nav.navbar-nav {
    $border-height: 7px;
    $selected-border: $border-height solid black;
    $hover-border: $border-height solid white;
    $menu-item-padding: 15px;
    $menu-item-padding-md: 35px 15px;

    font-size: $menu-item-font-size;
    color: $navbar-color;

    > li > * {
      padding: $menu-item-padding;
    }

    .open > a {
      background: inherit;
    }

    a {
      line-height: $menu-item-height;
      color: $navbar-color;
      font-family: MavenPro;

      &:hover {
        color: lighten($navbar-color, 10%);
        text-decoration: underline;
      }

      &.logout {
        .fa {
          padding-right: 3px;
        }
      }
    }

    & > .active a {
      background-color: inherit;
    }

    @media all and(min-width: $screen-md-min) {
      margin-left: $navbar-menu-margin;

      > li > * {
        padding: $menu-item-padding-md;
      }
    }
  }
}
