body.modal-open {

  .navbar, .sidebar, .main.container, .footer {
    @include filter(grayscale(100%));
  }

  .main.container > *,
  .sidebar > * {
    @include filter(blur(2px));
  }

}

.wait-mask {
  $spin-speed: .8s;
  $spin-steps: 12;
  $spinner-size: 32px;
  $spinner-margin: -$spinner-size / 2;

  @extend .glass-pane;

  .spinner {
    @include size($spinner-size);
    @include position(absolute, 50% null null 50%);
    @include margin($spinner-margin null null $spinner-margin);

    background: url('images/spinner.svg') 0 0 no-repeat;
    image-rendering: -moz-crisp-edges;

    @include animation(spin $spin-speed steps($spin-steps) infinite);
  }

  @include keyframes(spin) {
    100% { transform: rotate(360deg); }
  }
}

