.front_page.sidebar {
  .main {
    min-height: 100%;
  }

  .main, .sidebar {
    @include display(flex);
  }
}

.showcase {
  @include flex(1);
  @include align-self(center);
  text-align: center;
  font-size: 3em;
}
